// Theme variables.

$navbar-brand-image-height: 36px !default;
$navbar-brand-image-height-lg: 60px !default;
$navbar-brand-image-width: auto !default;
$navbar-brand-image-margin: 0 1rem 0 0 !default;

$navbar-brand-site-title-text-transform: uppercase !default;
$navbar-brand-site-title-font-size: 1.5rem !default;
$navbar-brand-site-title-font-weight: bold !default;
$navbar-brand-site-title-letter-spacing: 2px !default;

$region-padding: 0 .5rem !default;

$footer-padding: 2rem 0 !default;

$nav-tabs-link-active-bg-sm: #dee2e6 !default;

$local-tasks-primary-margin: 1rem 0 !default;
$local-tasks-secondary-margin: 0 0 1rem 0 !default;


// Variables
$navFontColor : #140e44;
$navBgColor : #c5c5c5;
$navAlterColor : whitesmoke;

$titleFontType : 'Lobster', cursive;
$contentLinkFontColor : #140e44;
$contentLinkHoverColor : whitesmoke;

$sidebarFontColor : #140e44;


// Desktop styles
main {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.1),rgba(255,255,255,0.1)),url(../assets/img/main-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#navbarSupportedContent {
  display: flex;
  justify-content: space-around !important;
}

.navbar {
  background-color: $navBgColor;
  border-bottom: 1vh solid saddlebrown;
}

.region-nav {
  color: $navFontColor;
  &-branding {
    font-family: $titleFontType;
    color: $navFontColor;
    & .navbar-brand {
      & .site-title {
        color : $navFontColor !important;
      }
    }
  }
  &-main {
    & .nav-item {
      padding: 0.5vw 1vw;
      border-right: 2px solid $navAlterColor;
      &:first-child {
        border-left: 2px solid $navAlterColor;
      }
      & .dropdown-menu {
        & .nav-item {
          border: none;
          padding: 0.5vw;
          &:hover {
            background-color: $navBgColor;
            color: $navAlterColor;
          }
        }
      }
      &:hover {
        border-bottom: 4px solid $navFontColor  ;
        padding: 0.5vw 1vw 0.2vw 1vw;
      }
    }
    & .nav-link {
      color: $navFontColor;
      font-weight: bold;
      font-size: 1.1rem;
      border: none !important;
      transition: all 0.8s ease-out;
      &:hover {
        border-bottom: none;
        color: $navAlterColor;
      }
      &::after {
        margin-left: 0.5vw;
      }
    }
  }
  &-additional {
    & .language-switcher-language-url {
      & .links {
        margin: 0.2vw;
        & li {
          &::before {
            content: "";
            display: block;
            width: 18px;
            height: 18px;
            float: left;
            margin: 0 6px 0 0;
          }
          &.en::before {
            background: url('../assets/icons/languageSwitcher/united-kingdom.png');
            background-size: 18px;
          }
          &.uk::before {
            background: url('../assets/icons/languageSwitcher/ukraine.png');
            background-size: 18px;
          }
          &::marker {
            content: "";
          }
          & a {
            color: $navFontColor;
            text-decoration: underline 0.15em rgba(0, 0, 0, 0);
            transition: text-decoration-color 300ms;
            &:hover {
              color: $navAlterColor;
              text-decoration-color: rgba(245, 245, 245, 1);
            }
          }
          &:hover {
            transform: scale(1.1);
          }
        }
        & .is-active a {
          text-decoration-color: rgb(75, 60, 140);
          color: saddlebrown;
          font-weight: bold;
        }
      }
    }
  }
}

.region-sidebar {
   &-first {
    color: $sidebarFontColor;
    margin-top: 8vh;
    & label {
      font-weight: bold;
      font-size: 1rem;
      padding-left: 1vw;
    }
    & .fieldset-legend {
      font-weight: bold;
      font-size: 1rem;
      padding-left: 1vw;
    }
    & .search-block-form form {
      background-color: #ececec;
      display: flex;
      justify-content: center;
      padding: 1vw;
      & .form-actions {
        padding-left: 1vw;
      }
    }
    & .form--inline {
    background-color: #ececec;
    margin-top: 5vh;
    padding-left: 1vw;
      & .form-item-field-news-taxonomy-target-id {
        width: 95%;
      }
      & .form-control {
      width: 100%;
      }
    }
  }
  &-second {
    & .block-custom-weather {
      color: $sidebarFontColor;
      margin-top: 5vh;
      background-color: #ececec;
      padding: 0.2vw;
      border: 2px solid saddlebrown;
      & h2 {
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
      }
      & p {
        margin-bottom: 1vh;
        &::before {
          content: "";
          display: block;
          width: 24px;
          height: 24px;
          float: left;
          margin: 0 6px 0 0;
        }
      }
      & .weather-block-location::before {
        background: url('../assets/icons/weatherBlock/map.png');
        background-size: 24px;
      }
      & .weather-block-temperature::before {
        background: url('../assets/icons/weatherBlock/centigrade.png');
        background-size: 24px;
      }
      & .weather-block-weather::before {
        background: url('../assets/icons/weatherBlock/weather.png');
        background-size: 24px;
      }
      & .weather-block-humidity::before {
        background: url('../assets/icons/weatherBlock/humidity.png');
        background-size: 24px;
      }
      & .weather-block-wind::before {
        background: url('../assets/icons/weatherBlock/windsock.png');
        background-size: 24px;
      }
    }
  }
}

.region-content {
  width: 100%;
  background: rgba(234, 193, 160, 0.9);
  margin: 0 auto;
  & a {
    color: $contentLinkFontColor;
    &:hover {
      color: $contentLinkHoverColor;
      text-decoration: none;
    }
  }
  & .page-title {
    padding-top: 5vh;
    font-family: $titleFontType;
    padding-bottom: 1vh;
    border-bottom: 2px solid grey;
  }
  & .node--view-mode-teaser {
    margin-top: 5vh;
    padding-bottom: 1vh;
    border-bottom: 2px solid grey;
    & a {
      & span:hover {
        color: $contentLinkHoverColor;
      }
    }
    & .field--name-title {
      display: flex;
      justify-content: flex-start;
      font-size: 1.4rem;
      text-transform: none;
      color: $contentLinkFontColor;
    }
    & .node__content {
      display: flex;
      flex-wrap: wrap;
      & .field--name-field-news-image {
        width: 33%;
        & img {
          max-width: 100%;
          height: auto;
        }
      }
      & .field--name-body {
        width: 66%;
        padding-left: 2vw;
        text-align: justify;
      }
      & .node__links {
        display: flex;
        justify-content: flex-end;
        width: 100%;
      }
      & .field--name-field-news-taxonomy {
        display: flex;
        & .field__item {
          margin-right: 0.5vw;
          padding-right: 0.2vw;
          border-right: 2px solid grey;
        }
      }
    }
  }
  & .node--view-mode-full {
    & .field--name-field-news-image {
      max-width: 100%;
      height: auto;
      & img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 1.5vw;
      }
    }
    & .field--name-field-news-taxonomy {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 2vh;
      & .field__item {
        margin-right: 2vw;
      }
    }
    & .comment-wrapper {
      border-top: 0.2vh solid grey;
        & .comment {
          font-family: 'Roboto', sans-serif;
          & .comment__meta {
            display: none !important;
          }
          & .content {
            & h3 {
              display: none;
            }
            & .layout--twocol-section {
              margin-top: 2vh;
              background-color: $navBgColor;

              & .layout__region {
                padding: 1vh 1vw;
                &--first {
                  color: $navFontColor;
                  & .block-field-blockcommentcommentuid {
                    font-weight: bold;
                    font-size: 1.2rem;
                  }
                  & .block-field-blockcommentcommentcreated {
                    margin-top: 1vh;
                  }
                }
                &--second {
                  & .block-field-blockcommentcommentcomment-body {
                    text-align: justify;
                  }
                  & .block-extra-field-blockcommentcommentlinks {
                    & li {
                      margin: 1vh;
                      padding: 1vh;
                      border: 1px solid $navFontColor;
                      &:hover {
                        border: 1px solid $navAlterColor;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
  }
  & .paragraph {
    margin-top: 1vh;
    & h2 {
      text-align: center;
      font-size: 1.8rem;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 0;
    }
    &--type--paragraph-slideshow {
      margin-top: 2vh;
      border-bottom: 2px solid grey;
      & .field--name-field-slide {
        &-title {
          position: relative;
          bottom: 15vh;
          width: 90%;
          background: rgba(234, 193, 160, 0.7);
          font-size: 1.2rem;
          font-weight: bold;
          margin: 0 auto;
        }
        &-description {
          position: relative;
          bottom: 15vh;
          width: 90%;
          background: rgba(234, 193, 160, 0.7);
          text-align: justify;
          margin: 0 auto;
        }
        &-link {
          position: relative;
          bottom: 15vh;
          width: 90%;
          background: rgba(234, 193, 160, 0.7);
          text-align: left;
          margin: 0 auto;
        }
      }
    }
  }
  & .node--type-webform {
    width: 50vw;
    margin: 0 auto;
  }
}

footer {
  padding: 1vh 0 !important;
  background-color: $navBgColor;
  border-top: 0.8vh solid saddlebrown;
  & .region-footer {
    font-family: $titleFontType;
  }

}


// Mobile
@media screen and (max-width: 540px) {
  .region-content {
    & h1 {
      font-size: 2rem;
      font-weight: bold;
    }
    & .node--view-mode-teaser {
      margin-top: 5vh;
      padding-bottom: 2vh;
      border-bottom: 2px solid grey;
      & .field--name-title {
        display: flex;
        justify-content: flex-start;
        font-size: 1.4rem;
        text-transform: none;
      }
      & .node__content {
        & .field--name-field-news-image {
          width: 100%;
          & img {
            margin: 0 auto;
            max-width: 100%;
            height: auto;
          }
        }
        & .field--name-body {
          width: 100%;
          padding-left: 2vw;
          text-align: justify;
        }
        & .node__links {
          display: flex;
          justify-content: flex-end;
          width: 100%;
        }
        & .field--name-field-news-taxonomy {
          display: flex;
          & .field__item {
            margin-right: 0.5vw;
            padding-right: 0.5vw;
            border-right: 2px solid grey;
          }
        }
      }
    }
    & .node--type-webform {
      width: 100%;
      margin: 0 auto;
    }
  }
}
